.card_image_holder {
	margin-top: 5px;
	img {
		height: auto;
		width: 75%;
		display: block;
		margin: auto;
	}
}

.card_title_holder {
	border-radius: 10px;
  background-color: $primary;
  margin-top: 5px;
	text-align: center;
	.card_title {
		margin-top: 5px;
		color: $white;
	}
	h2 {
		margin-bottom: 5px;
		background-repeat: no-repeat;
		background-size: 25px;
		background-position: left;
		&.Grass {
			background-image: url(/assets/icons/Grass.png);
		}
		&.Pokeball {
			background-image: url(/assets/icons/Pokeball.png);
		}
		&.Fire {
			background-image: url(/assets/icons/Fire.png);
		}
		&.Colorless {
			background-image: url(/assets/icons/Colorless.png);
		}
		&.Darkness {
			background-image: url(/assets/icons/Darkness.png);
		}
		&.Fariy {
			background-image: url(/assets/icons/Fairy.png);
		}
		&.Fighting{
			background-image: url(/assets/icons/Fighting.png);
		}
		&.Lightning{
			background-image: url(/assets/icons/Lightning.png);
		}
		&.Metal{
			background-image: url(/assets/icons/Metal.png);
		}
		&.Psychic{
			background-image: url(/assets/icons/Psychic.png);
		}
		&.Water{
			background-image: url(/assets/icons/Water.png);
		}
	}
	.card_title_cost {
		img {
			height: 25px;
			width: 25px;
			position: absolute;
    	top: 0;
    	bottom: 0;
    	margin: auto;
		}
	}
}

.set_icon {
	margin-top: 5px;
	border-radius: 10px;
	background-color: $primary;
	color: $white;
	padding-bottom: 10px;
	img {
		height: 25px;
		width: 25px;
		display:block;
  	margin:auto;
	}
}

.card_data {
	text-align: center;
	&.with_icons {
		flex-wrap: wrap-reverse;
		display: inline-flex;
	}
}

.card_header {
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.title_holder {
	border-radius: 10px;
  margin-top: 10px;
	text-align: center;
	&.attack {
		background-color: $primary;
	}
	&.ability {
		background-color: $secondary;
	}
}

.attack_title {
	margin-top: 0px;
	margin-bottom: 0;
	border-radius: 10px;
	text-align: center;
	color: $white;
	h2 {
		margin: 0;
	}
}

.attack_text {
	padding-top: 10px;
	font-size: 14px;
}

.attack_content_holder {
	background-color: $grey;
	padding-bottom: 20px;
	border-radius: 10px;
}

.cost_holder {
	text-align: center;
	img {
		display: inline-block;
		height: 25px;
		width: 25px;
	}
}