.navbar{
	font-size: 20px;
	background-color: $primary;
	color: $white;
	margin-bottom: 5px;
	border-radius: 0;
	a {
		color: $white;
	}
	li a:hover {
		background-color: $primary;
		color: $secondary
	}
}
